<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--配置全局参数编码方式-->
    <context-param>
        <param-name>encoding</param-name>
        <param-value>utf-8</param-value>
    </context-param>

    <servlet>
        <servlet-name>deptServlet</servlet-name>
        <servlet-class>com.csi.servlet.DeptServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deptServlet</servlet-name>
        <url-pattern>/dept</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxDemoServlet</servlet-name>
        <servlet-class>com.csi.servlet.AjaxDemoSerlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ajaxDemoServlet</servlet-name>
        <url-pattern>/ajax</url-pattern>
    </servlet-mapping>
</web-app>